{% extends 'templates/public.twig' %}

{% block content %}
	<form class="form-auth-small" action="{{ path_for('auth.signin') }}" method="post">
		<div class="form-group">
			<label for="username" class="control-label sr-only">Username</label>
			<input type="input" class="form-control" id="username" name="username" value="username" placeholder="username">
            {% if errors.email %}
				<span class="hel-block">{{ errors.email | first }}</span>
            {% endif %}
		</div>
		<div class="form-group">
			<label for="password" class="control-label sr-only">Password</label>
			<input type="password" class="form-control" id="password" name="password" value="password" placeholder="Password">
            {% if errors.password %}
				<span class="hel-block">{{ errors.password | first }}</span>
            {% endif %}
		</div>
		<div class="form-group clearfix">
			<label class="fancy-checkbox element-left">
				<input type="checkbox">
				<span>Remember me</span>
			</label>
		</div>
		<button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>

        {{ csrf.field | raw }}
	</form>
{% endblock %}