<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand">
       <img src="/assets/img/logo-dark.png" alt="Logo" class="img-responsive logo">
    </div>
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>

        <div id="navbar-menu hidden-xs">
            <ul class="nav navbar-nav navbar-right">
                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">#}
                        {#<i class="lnr lnr-alarm"></i>#}
                        {#<span class="badge bg-danger">5</span>#}
                    {#</a>#}
                    {#<ul class="dropdown-menu notifications">#}
                        {#<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>#}
                        {#<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>#}
                        {#<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>#}
                        {#<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>#}
                        {#<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>#}
                        {#<li><a href="#" class="more">See all notifications</a></li>#}
                    {#</ul>#}
                {#</li>#}
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Basic Use</a></li>
                        <li><a href="#">Working With Data</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Troubleshooting</a></li>
                    </ul>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/img/user.png" class="img-circle" alt=""> <span>{{ auth.user.nickname }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                        <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                        <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                        <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->